.navbar {
  background-color: #000080;
  padding: 15px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  color: white;
  font-size: 24px;
}

.logo a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap; /* Allow the items to wrap onto new lines */
  gap: 10px;
}

.nav-menu li a {
  padding: 10px 10px;
  background-color: #000080;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
}

.nav-menu li a:hover {
  background-color: #1E90FF;
  border-color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
  }
}


.search-add {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  flex: 1;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 55%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.submissions-section {
  flex: 4;
  margin-right: 20px;
}

.submissions-header {
  margin-bottom: 20px;
}

.submissions-container.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.submissions-container.list-view {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.submission-list-item {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.submission-details {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.submission-details span {
  flex: 1;
}

.stats-section {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  /* background-color: #f9f9f9; */
}

.submissions-item {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.view-options {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 20px;
}

.filter-sort {
  display: flex;
  gap: 15px; 
  align-items: center;
  margin-left: 10px;
}

.filter-sort label {
  font-weight: bold;
}

.filter-sort select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.view-toggle label {
  margin-right: 10px;
}

.search-add {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex: 1;
}

.view-toggle span {
  cursor: pointer;
  margin-right: 10px;
  padding: 5px;
}

.view-toggle i {
  font-size: 20px;
}

.view-toggle span.active {
  color: #000080;
  font-weight: bold;
}
